/* fonts

font-family: 'Festive', cursive;
font-family: 'Roboto', sans-serif;

*/

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
    color: #ccc;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


.wrap{

    background-color:#373d57;
    height: 100vh;
    box-sizing: border-box;
}

/* Header part */
header{
    /* background-color: blueviolet; */
    height: 80px;
    overflow: hidden;
    width: 80%;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
nav .logo span{
    color: #fff;
    font-size: 25px;
    font-family: 'Festive', cursive;
}

nav .menu ul{
    list-style: none;
    display: flex;
     
}

.menu{
    /* background-color: red; */
}
nav .menu ul li{
    margin-right: 20px;
  
}
nav .menu ul li a{
    color:#fff;
    font-size: 1.5em;
    line-height: 3.1em;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 30px;
    letter-spacing: 1px;
}
nav .menu ul li a:hover{
    background-color:#171b2b ;
}
.main{
    width: 80%;
    margin: 0px auto;
    /* background-color: rgb(212, 212, 172); */
    height: 100vh;
    /* position: fixed; */
}

section{
    height: 30vh;
    /* background-color: brown; */
    width: 100%;
}
section:nth-child(2n+1){
    /* background-color: rgb(233, 113, 113); */
}

.top{
    height: auto;
    overflow: hidden;
    display: flex;
   
}
.top-image{
height: 90vh;
width: 50%;
/* background-color: beige; */
display: flex;
align-items: center;
justify-content: center;
}

.top-image img{
    width: 80%;
    transition: transform 0.5s;

}
.top-image img:hover{
    transform: rotate(30deg);
    
}


.top-contents{
    height: 90vh;
    width: 50%;
    /* background-color: rgb(160, 194, 133); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
    
}
.top-contents h1{
  color: #fff;
  margin-bottom:30px;
  font-size: 3em;
}

.top-contents p{
    text-align: justify;
    color: rgb(178, 182, 185);
    font-size: 2em;
    letter-spacing: 2px;

}
.marked{
   color: #fff;
}


.top-buttons{
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.my-btn a{
    color: #fff;
    text-decoration: underline;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 30px;

}

.button-one a{
    background-color: rgb(57, 155, 185);
}

.button-two a:hover{
    background-color: rgb(57, 155, 185);
}

/* issue */
.button-two a:hover .button-one a{
    background-color: rgb(57, 155, 185,0);
}

.my-btn a i{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-left: 5px;
}

/* partner part */


.partner-logo{

}

.card{

}

.product-slider{

}

.feed{

}

footer{

}

